.form-control{
    margin-top: 5px;
    width: 100%;
    text-align: center;
    background-color:rgba(248, 96, 96, 0);
    border: none;
}
table{
    width: 80%;
    margin: 5px auto;
    background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.5));
    border-collapse: collapse;
    border:2px solid rgb(121, 29, 29);
    text-align: center;
}
th{
    padding: 10px 0;
}
td{
    color: white;
    letter-spacing: 1px;
}
tbody tr:nth-child(odd) {
    background-color: #e7443e;
  }
  
  tbody tr:nth-child(even) {
    background-color: #d68a5d;
  }
.btn{
    background-color: rgb(49, 49, 49);
    margin: 3px auto;
    padding: 3px;
    font-weight: 300;
    margin-left: 5px;
}
.btn-danger{
    background-color: rgba(114, 25, 25, 0.863);
}